body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.25;
  font-family: BentonSans,Helvetica;
}

button {
  display: flex;
  background: 0 0;
  border: none;
  text-transform: uppercase;
  color: #9ea7a9;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #9ea7a9;
}

.nav__wrapper {
  background-color: black;
  background: #000;
  height: 60px;
  z-index: 4;
  top: 0;
  position: fixed;
  transition: top .2s ease-in-out;
  width: 100%;
}

.nav__wrapper img {
  left: 0;
  padding: 10px;
  vertical-align: middle;
  width: 30%;
  box-sizing: border-box;
}

.poster__wrapper,
.episode__container {
  background-size: cover;
  background-position: center;
  min-height: 600px;
  min-width: 100%;
  position: relative;
}

.episodes__wrapper {
  padding: 0 3rem;
  background: #000000;
  margin-right: auto;
  margin-left: auto;
}

.poster__wrapper img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.nav__wrapper {
  display: flex;
  height: 70px;

}

.nav-menu-right {
  display: flex;
  justify-content: space-evenly;
  right: 0;
  padding-left: 10%;
  align-items: center;
  width: 80%;
  padding-top: .6rem;
}

.content-list-top {
  display: flex;
  align-items: center;
  min-height: 50px;
}

.hamburger__icon {
  max-width: 8%;
}

.nav-menu-right__item {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: #9ea7a9;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: .9px;
}

.bottom-hero {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 4;
  margin-bottom: 1.2rem;
}

.episode-title {
  font-family: BentonSansExtraComp;
  font-weight: 100;
  letter-spacing: .9px;
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
}

.episode-actions {
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
}
