body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.25;
  font-family: BentonSans,Helvetica;
}

.nav__wrapper {
  background-color: black;
  background: #000;
  height: 60px;
  z-index: 4;
  top: 0;
  position: fixed;
  transition: top .2s ease-in-out;
  width: 100%;
}

.nav__wrapper img {
  left: 0;
  padding: 10px;
  vertical-align: middle;
  width: 30%;
  box-sizing: border-box;
}

.poster__wrapper,
.episode__container {
  background-size: cover;
  background-position: center;
  min-height: 600px;
  min-width: 100%;
  position: relative;
}

.episodes__wrapper {
  padding: 0 3rem;
  background: #000000;
  margin-right: auto;
  margin-left: auto;
}

.poster__wrapper img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.nav__wrapper {
  display: flex;
  height: 70px;

}

.nav-menu-right {
  display: flex;
  justify-content: space-evenly;
  right: 0;
  padding-left: 20%;
  align-items: center;
  width: 50%;
  padding-top: .6rem;
}

button {
  display: flex;
  background: 0 0;
  border: none;
  text-transform: uppercase;
  color: #9ea7a9;
  font-weight: 700;
}

.content-list-top {
  display: flex;
  align-items: center;
  min-height: 50px;
}


.nav-menu-right__item{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: #9ea7a9;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: .9px;
}
